/* src/styles/VendedoresContainer.css */
.producto-form-container {
    align-items: center;
    width: 100%;
}

.producto-form {
    background: rgba(11, 31, 47, 0.987); 
    padding: 20px;
    border: none; 
    width: 100%;
}

.producto-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.producto-inputs input {
    flex: 1 1 100px;
    padding: 10px;
    border: 1px solid white; 
    background-color: white; 
    color: black; 
}

.producto-inputs button {
    padding: 10px 20px;
    border: 1px solid white; 
    border-radius: 0; /* Sin borde redondeado */
    background: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.producto-inputs button:hover {
    background: #333;
}

.producto-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 5px;
    box-sizing: border-box
}

.producto-card {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid black;
    width: 100%;
    margin-top: 1px;
    padding: 10px;
    margin-bottom: 15px;
}

.producto-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.producto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.producto-info h3 {
    margin: 0;
    font-size: 18px;
}

.producto-info p {
    margin: 2px 0;
}

.producto-precio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}
